<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/v4-shims.min.css" integrity="sha512-juNw36A2S+8vPLyCQCBmfxRf1+gFYy07BozcavXe9adyITkvA9LuVCbkZI9kp59tjUrn/S7zeDFN1Brz1JqJnA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/project.css">
    <title>adepaul.dev - Example Project</title>
</head>
<body>
    <header th:replace="fragments :: header" />

    <div id="title" class="section">
        <div class="content">
            <h1>Example Project</h1>
        </div>
    </div>

    <div id="details" class="section">
        <div class="content">
            <div>
                <div id="author">Anthony DePaul</div>
                <a href="https://github.com/"><i class="fa-brands fa-github"></i> Project Repository</a>
            </div>
            <div>
                <div id="publication-date">Article Published: Jan. 1, 9999</div>
                <div id="completion-date">Project Completed: Jan. 1, 9999</div>
            </div>
        </div>
    </div>

    <div id="article" class="section">
        <div class="content project">
            <h4 class="project-title">Example Project</h4>
            <div class="project-content" th:fragment="project-content">

                <img src="/img/poetry-site/screenshot.png" alt="Poetry website screenshot"
                     loading="lazy" class="fill-width">

                <p>
                    I designed this website to give someone a place to share poems online anonymously. The initial
                    design was kept simple with only a single poem displayed at a time, inspired by the
                    <a href="https://xkcd.com/">xkcd site</a>. The artistic design mimics a personal handwritten
                    notebook by using dot paper pages for the poems, graphite colors, and botanical doodles in the
                    background.
                </p>

                <p>
                    <a href="https://poetry-site.adepaul.dev/">Check out the demo site here.</a>
                </p>

                <h2 id="project-setup">Project Setup</h2>

                <p>
                    Here's an overview of how the website is structured:
                </p>

                <ul>
                    <li>
                        <b>Next.js</b>
                        <ul>
                            <li>
                                The project is built with <a href="https://nextjs.org/">Next.js</a> framework, the
                                <a href="https://www.typescriptlang.org/">TypeScript language</a>,
                                <a href="https://react.dev/">React</a>, and
                                <a href="https://tailwindcss.com/">Tailwind CSS</a> for CSS styling.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>Prisma</b>
                        <ul>
                            <li>
                                For data storage, <a href="https://www.prisma.io/">Prisma</a> is used to manage a
                                <a href="https://www.postgresql.org/">PostgreSQL</a> database through a
                                <a href="https://github.com/ajdepaul/poetry-site/blob/main/prisma/schema.prisma">Prisma schema file</a>.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>Authentication</b>
                        <ul>
                            <li>
                                Admin pages and actions are protected using
                                <a href="https://authjs.dev/">Auth.js</a> with
                                <a href="https://kinde.com/">Kinde</a>.
                                <a href="https://nextjs.org/docs/14/app/building-your-application/routing/middleware">Next.js middleware</a>
                                is used to check that the user has been authenticated through Kinde before granting
                                access to `/admin` pages. Next.js admin
                                <a href="https://nextjs.org/docs/13/app/api-reference/functions/server-actions">server actions</a>
                                all first check authentication before making any changes.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>Markdown</b>
                        <ul>
                            <li>
                                Poems support <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> syntax using
                                <a href="https://www.npmjs.com/package/marked">Marked</a>. The raw Markdown syntax of
                                the poem is rendered server-side using a Marked `RendererObject`. Because Marked
                                supports inline HTML, the Marked result is sanitized using
                                <a href="https://www.npmjs.com/package/dompurify">DOMPurify</a> to ensure nobody can
                                inject malicious code into poem Markdown text.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>Hosting</b>
                        <ul>
                            <li>
                                The hosting solution is very similar to what was done for this <code>adepaul.dev</code>
                                site. The same Hetzner server that hosts <code>adepaul.dev</code> also hosts the
                                <a href="https://poetry-site.adepaul.dev/">demo poetry site</a>, as well as the actual
                                poetry site server.
                            </li>
                            <li>
                                A
                                <a href="https://github.com/features/actions">GitHub Actions</a> workflow is used to
                                push a compiled
                                <a href="https://www.docker.com/">Docker</a>
                                image to the
                                <a href="https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry">GitHub Container Registry</a>
                                (GHCR). At the time of writing, no
                                <a href="https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph">GitHub dependency graph</a>
                                is generated with the GitHub action.
                            </li>
                            <li>
                                On the Hetzner server, the site is run using
                                <a href="https://developers.cloudflare.com/cloudflare-one/connections/connect-networks/">Cloudflare Tunnels</a>
                                and
                                <a href="https://containrrr.dev/watchtower/">Watchtower</a>, which are configured
                                through <a href="https://docs.docker.com/compose/">Docker Compose</a>. As the setup here
                                is identical to how <code>adepaul.dev</code> is set up, you can read more about how
                                Cloudflare's CMS servers are used in the
                                <a href="/projects/adepaul.dev">adepaul.dev write-up</a>.
                            </li>
                        </ul>
                    </li>
                </ul>

                <h2 id="planned">Upcoming Features</h2>

                <p>
                    Here are a few additional features planned for the poetry website:
                </p>

                <ul>
                    <li>
                        <b>Comment Sections</b>
                        <ul>
                            <li>
                                Comment sections come with the additional hurdle of requiring moderation tools to ensure
                                commenters cannot post anything harmful. The simplest solution would be to use a
                                <a href="https://disqus.com/">Disqus</a> library, but after learning about data privacy
                                concerns regarding the platform, I'd prefer to find something more privacy-focused or to
                                implement something myself.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>Poem Books</b>
                        <ul>
                            <li>
                                While the xkcd style of one poem per page is nice for simplicity, sometimes poems make
                                more sense grouped into collections or "books". A directly requested feature, poem books
                                would allow authors to group poems into separate collections according to theme, story,
                                context, or relevance.
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer" />

    <script src="/script/common.js"></script>
</body>
</html>
