@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

:root {
    --primary-color-light: #59afe0;
    --primary-color: #4587ad;
    --primary-color-dark: #305f7a;
    --black: #292929;
    --transp-black: #0000003b;
    --gray-1: #2e2e2e;
    --gray-2: #333333;
    --gray-3: #383838;
    --light-gray: #b4b4b4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    font-family: 'Lexend Exa', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    overflow-x: hidden;
    min-height: 100vh;
}

h1 {
    font-size: 4.209rem;
    font-weight: 500;
    line-height: calc(4.209rem * 1.2);
}

h2 {
    font-size: 3.157rem;
    font-weight: 500;
    line-height: calc(3.157rem * 1.2);
}

h3 {
    font-size: 2.369rem;
    font-weight: 500;
    line-height: calc(2.369rem * 1.2);
}

h4 {
    font-size: 1.777rem;
    font-weight: 500;
    line-height: calc(1.777rem * 1.2);
}

h5 {
    font-size: 1.333rem;
    font-weight: 500;
    line-height: calc(1.333rem * 1.2);
}

h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: calc(1rem * 1.2);
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: calc(1rem * 1.5);
}

li {
    font-size: 1rem;
    font-weight: 300;
    list-style: none;
    line-height: calc(1rem * 1.5);
}

small {
    font-size: 0.75rem;
    font-weight: 300;
}

code {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-size: 1rem;
}

pre code {
    line-height: calc(1rem * 1.5);
}

a, button {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}

a:not(.btn) {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:hover, button:hover {
    color: var(--primary-color);
}

#search input {
    border: 0;
    font-size: 1rem;
    padding: 15px;
    height: 1.5rem;
    font-family: 'Lexend Exa', sans-serif;
    font-weight: 300;
}

.disabled {
    display: none;
}

/* --------------------------------- layout --------------------------------- */

.section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 90vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.col {
    /* width: 100%; */
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

/* --------------------------------- buttons -------------------------------- */

.btn {
    cursor: pointer;
    background-color: var(--gray-1);
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    transition: transform 30ms linear;
    text-decoration: none;
    background-color: var(--gray-2);
    transform: scale(105%);
}

.btn:active {
    transform: scale(100%);
}

/* ---------------------------- navigation header --------------------------- */

#navbar {
    font-size: 1.333rem;
    background-color: var(--black);
}

#navbar-wide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 0;
}

#navbar-wide .btn {
    margin-left: 15px;
}

#navbar-menu {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    display: none;
}

#navbar-menu .btn {
    font-size: 1.33rem;
    margin: 15px 15px;
    margin-left: auto;
}

#navbar-menu ul {
    width: 100%;
    background-color: var(--light-gray);
    color: var(--black);
    padding: 15px;
}

#navbar-menu li {
    text-align: end;
    font-size: 1.333rem;
    line-height: 2rem;
}

#navbar-menu a {
    display: inline-block;
    transition: transform ease 0.4s;
    text-decoration: none;
}

#navbar-menu a:hover {
    transform: translateX(-20px);
}

@media (max-width: 700px) {

    #navbar-wide {
        display: none;
    }

    #navbar-menu {
        display: flex;
    }
}

/* --------------------------------- footer --------------------------------- */

footer {
    color: var(--light-gray);
    margin-top: auto;
    padding: 10px;
}
