/* ---------------------------------- title --------------------------------- */

#title {
    background-image: url("/img/stripe-pattern.png");
}

#title .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
}

#profile-pic {
    padding-right: 15px;
}

#title-text {
    display: flex;
    flex-direction: column;
}

#title-line-1 {
    transform: translateY(0.8rem);
}

#title h1 {
    color: var(--primary-color);
    text-align: center;
}

#title-line-3 {
    display: flex;
    justify-content: space-between;
    transform: translateY(-0.6rem);
    text-align: end;
}

#email {
    padding-right: 0.65rem;
}

#title a {
    text-decoration: none;
}

#title a.icon {
    display: inline-block;
    transition: transform 0.1s ease;
}

#title a.icon:hover {
    transform: translateY(50%) scale(150%);
}

@media (max-width: 1024px) {
    #profile-pic {
        width: 200px;
    }
}

@media (max-width: 960px) {
    #profile-pic {
        display: none;
    }
}

@media (max-width: 700px) {
    #title-links {
        display: none;
    }

    #title-line-1 {
        transform: none;
    }
    
    #title-line-3 {
        transform: none;
    }

    #title-line-3 > * {
        width: 100%;
    }
}

@media (max-width: 400px) {
    #title h1 {
        font-size: 3.157rem;
        line-height: calc(3.157rem * 1.2);
    }
}

/* ----------------------- education skills experience ---------------------- */

#edu-ski-exp {
    background-color: var(--gray-1);
    padding: 50px 0;
}

#edu-ski-exp h3 {
    width: 100%;
    margin-bottom: 15px;
    color: var(--primary-color);
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: var(--primary-color);
}

#edu-ski-exp h4,
#edu-ski-exp h5 {
    margin-bottom: 10px;
}

#edu-ski-exp p,
#edu-ski-exp ul {
    margin-bottom: 10px;
}

/* in between column spacing */
#edu-ski-exp .col:not(:first-child) { margin-left: 30px; }
#edu-ski-exp .col:not(:last-child) { margin-right: 30px; }

#education-columns {
    margin-bottom: 15px;
}

@media (max-width: 960px) {
    #education-columns,
    #skills-experience {
        flex-direction: column;
    }

    #edu-ski-exp .col:not(:first-child),
    #edu-ski-exp .col:not(:last-child) {
        margin-left: 0;
        margin-right: 0;
    }
}

/* -------------------------------- projects -------------------------------- */

#projects .content {
    margin: 50px 0;
}

/* in between column spacing */
#projects .col:not(:first-child) { margin-left: 30px; }
#projects .col:not(:last-child) { margin-right: 30px; }

#projects h3 {
    margin-top: 70px;
    margin-bottom: 130px;
    color: var(--primary-color);
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: var(--primary-color);
}

#projects .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--light-gray);
    color: var(--black);
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    box-shadow: 25px 25px 0 0 var(--transp-black);
    margin-bottom: 60px;
}

#projects .project > * {
    padding-left: 25px;
    padding-right: 25px;
}

/* left column odds */
#projects .content > .columns > .col:first-of-type > .project:nth-of-type(odd) {
    border-color: var(--primary-color);
}

/* left column evens */
#projects .content > .columns > .col:first-of-type > .project:nth-of-type(even) {
    border-color: var(--primary-color-dark);
}

/* right column odds */
#projects .content > .columns > .col:last-of-type > .project:nth-of-type(odd) {
    border-color: var(--primary-color-dark);
}

/* right column evens */
#projects .content > .columns > .col:last-of-type > .project:nth-of-type(even) {
    border-color: var(--primary-color-light);
}

#projects .project img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

#projects .project h4 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
    /* todo keep? */
    /* text-align: center; */
    padding: 5px;
    margin-bottom: 25px;
    width: 100%;
    color: #ffffff;
}

/* left column odds */
#projects .content > .columns > .col:first-of-type .project:nth-of-type(odd) h4 {
    background-color: var(--primary-color);
}

/* left column evens */
#projects .content > .columns > .col:first-of-type .project:nth-of-type(even) h4 {
    background-color: var(--primary-color-dark);
}

/* right column odds */
#projects .content > .columns > .col:last-of-type .project:nth-of-type(odd) h4 {
    background-color: var(--primary-color-dark);
}

/* right column evens */
#projects .content > .columns > .col:last-of-type .project:nth-of-type(even) h4 {
    background-color: var(--primary-color-light);
}

#projects .project p {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    padding: 10px 0;
    margin: 0 25px;
    border-top: var(--transp-black) solid 2px;
    border-bottom: var(--transp-black) solid 2px;
    height: calc(1.5rem * 5);
    overflow: auto;
}

#projects .project .btn {
    align-self: center;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-size: 1rem;
    padding: 15px 25px;
    border-radius: 5px;
    margin: 20px 0;
    color: #ffffff;
}

#projects .project .btn:hover {
    color: var(--primary-color);
}

#all-projects-btn {
    font-size: 1.333rem;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
}

#all-projects-btn:hover {
    color: #ffffff;
    background-color: var(--primary-color-light);
}

@media (max-width: 900px) {
    #projects .columns {
        flex-direction: column;
    }

    #projects .col:not(:first-child),
    #projects .col:not(:last-child) {
        margin-left: 0;
        margin-right: 0;
    }

    #projects h3 {
        margin-top: 0;
        margin-bottom: 50px;
    }
}

/* --------------------------------- footer --------------------------------- */

footer {
    background-color: var(--gray-1);
}
