/* ---------------------------------- title --------------------------------- */

#title {
    background-image: url("/img/stripe-pattern.png");
}

#title .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#line-1 {
    transform: translateY(0.8rem);
}

#line-3 {
    display: flex;
    justify-content: space-between;
    transform: translateY(-0.6rem);
}

#email {
    padding-right: 0.65rem;
}

#title a.icon {
    display: inline-block;
    transition: transform 100ms linear;
}

#title a.icon:hover {
    transform: translateY(50%) scale(150%);
}

/* ----------------------- education skills experience ---------------------- */

#edu-ski-exp {
    padding-top: 3rem;
    background-color: var(--gray-1);
}

#edu-ski-exp .content > h3 {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}

#edu-ski-exp .content > .columns > .col {
    padding-left: 2rem;
    padding-right: 2rem;
}

#edu-ski-exp h3 {
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: #ffffff;
}

#edu-ski-exp h4, #edu-ski-exp h5 {
    margin-bottom: 0.5rem;
}

#edu-ski-exp ul {
    margin-bottom: 1rem;
}

/* -------------------------------- projects -------------------------------- */

#projects {
    padding-top: 3rem;
}

#projects .content > .columns > .col {
    padding-left: 2rem;
    padding-right: 2rem;
}

#projects h3 {
    margin-top: 5rem;
    margin-bottom: 7rem;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: #ffffff;
}

#projects .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--light-gray);
    color: var(--black);
    border-style: solid;
    border-width: 5px;
    /* todo keep? */
    /* border-top-width: 40px; */
    border-radius: 5px;
    box-shadow: 1.5rem 1.5rem 0 0 #0000003b;
    margin-bottom: 3rem;
}

#projects .project > * {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#projects .project > *:last-child {
    margin-bottom: 1.5rem;
}

/* left column odds */
#projects .content > .columns > .col:first-of-type > .project:nth-of-type(odd) {
    border-color: var(--primary-color-light-1);
}

/* left column evens */
#projects .content > .columns > .col:first-of-type > .project:nth-of-type(even) {
    border-color: var(--primary-color-dark-1);
}

/* right columns odds */
#projects .content > .columns > .col:last-of-type > .project:nth-of-type(odd) {
    border-color: var(--primary-color-dark-2);
}

/* right columns evens */
#projects .content > .columns > .col:last-of-type > .project:nth-of-type(even) {
    border-color: var(--primary-color);
}

#projects .project img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#projects .project h4 {
    font-family: 'Share Tech Mono', monospace;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    color: #ffffff;
}

/* left column odds */
#projects .content > .columns > .col:first-of-type .project:nth-of-type(odd) h4 {
    background-color: var(--primary-color-light-1);
}

/* left column evens */
#projects .content > .columns > .col:first-of-type .project:nth-of-type(even) h4 {
    background-color: var(--primary-color-dark-1);
}

/* right column odds */
#projects .content > .columns > .col:last-of-type .project:nth-of-type(odd) h4 {
    background-color: var(--primary-color-dark-2);
}

/* right column evens */
#projects .content > .columns > .col:last-of-type .project:nth-of-type(even) h4 {
    background-color: var(--primary-color);
}

#projects .project p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.167rem;
}

#projects .project .btn-1 {
    display: inline-block;
    align-self: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.167rem;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    
}

#projects #all-projects.btn-1 {
    font-size: 1.333rem;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 3rem;
    background-color: var(--primary-color);
}

#projects #all-projects.btn-1:hover {
    color: #ffffff;
    background-color: var(--primary-color-light-1);
}

footer {
    background-color: var(--gray-2);
}
