<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/v4-shims.min.css" integrity="sha512-juNw36A2S+8vPLyCQCBmfxRf1+gFYy07BozcavXe9adyITkvA9LuVCbkZI9kp59tjUrn/S7zeDFN1Brz1JqJnA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/project.css">
    <title>adepaul.dev - Example Project</title>
</head>
<body>
    <header th:replace="fragments :: header" />

    <div id="title" class="section">
        <div class="content">
            <h1>Example Project</h1>
        </div>
    </div>

    <div id="details" class="section">
        <div class="content">
            <div>
                <div id="author">Anthony DePaul</div>
                <a href="https://github.com/"><i class="fa-brands fa-github"></i> Project Repository</a>
            </div>
            <div>
                <div id="publication-date">Article Published: Jan. 1, 9999</div>
                <div id="completion-date">Project Completed: Jan. 1, 9999</div>
            </div>
        </div>
    </div>

    <div id="article" class="section">
        <div class="content project">
            <h4 class="project-title">Example Project</h4>
            <div class="project-content" th:fragment="project-content">

                <img src="/img/portfolio-website/animated-thumbnail.gif" alt="Website intro animation screenshot"
                     loading="lazy" class="fill-width">

                <p>
                    Welcome to <a href="https://adepaul.dev">adepaul.dev</a>, my portfolio website containing detailed
                    write-ups of my projects, along with my educational background and contact information.
                </p>

                <p>
                    The site is built using <a href="https://spring.io/projects/spring-boot">Spring Boot</a>, a popular
                    Java framework primarily used for building web applications. As this website was my introduction to
                    the web development world, I thought choosing a popular framework was a good choice. Throughout my
                    experience of building the site, I have overcome multiple challenges that I thought were worth
                    sharing.
                </p>

                <h2 id="article-structure">Write-Up Structure</h2>

                <p>
                    The project write-ups are structured in a way that each project contains its own unique consistently
                    structured metadata that makes altering common fragments across all project articles simple and
                    easy. To accomplish this, the website's resource directory stores JSON files containing details
                    about each project along with a Thymeleaf fragment containing the written content of each project
                    article. <a href="https://www.thymeleaf.org/">Thymeleaf</a> is a template engine commonly used with
                    Spring that allows structured parts of HTML to be joined to make dynamic layouts. The Thymeleaf
                    article structure consists of:
                </p>

                <ul>
                    <li>a fragment for the page header</li>
                    <li>a fragment for the article content</li>
                    <li>a fragment for the page footer</li>
                    <li>an article template to combine everything</li>
                </ul>

<!--                <p>-->
<!--                    Common article styling is kept in its own CSS file that makes modifying styles across all projects-->
<!--                    easy. For example, the styling used for the following code block is as follows:-->
<!--                </p>-->

<!--                <pre class="medium"><code>-->
<!--                    #article .project-content p code {-->
<!--                        padding: 0 5px;-->
<!--                        border-radius: 5px;-->
<!--                        background-color: var(&#45;&#45;transp-black);-->
<!--                    }-->

<!--                    #article .project-content pre {-->
<!--                        width: 100%;-->
<!--                        padding: 10px;-->
<!--                        background-color: var(&#45;&#45;gray-3);-->
<!--                        color: var(&#45;&#45;light-gray);-->
<!--                        border: 3px solid var(&#45;&#45;black);-->
<!--                        box-shadow: 10px 10px 0 0 var(&#45;&#45;transp-black);-->
<!--                        border-radius: 5px;-->
<!--                        overflow: auto;-->
<!--                    }-->

<!--                    #article .project-content pre.medium {-->
<!--                        max-height: calc(1rem * 1.5 * 16);-->
<!--                    }-->
<!--                </code></pre>-->

                <p>
                    Each project write-up has a corresponding <code>details.json</code> resource file used to store
                    metadata about the project. This metadata is used to fill out relevant sections of the article such
                    as the project title, a repository link, and thumbnail image path. The technologies and languages
                    used in the project for easily navigating the articles are also defined here. The
                    <code>details.json</code> file for this write-up looks like:
                </p>

                <a href="https://github.com/ajdepaul/adepaul.dev/blob/master/src/main/resources/templates/projects/adepaul.dev/details.json" class="pre-src">
                    src/main/resources/templates/projects/adepaul.dev/details.json
                </a>
                <pre class="medium"><code>
                    {
                      "isPublished": true,
                      "articleLink": "projects/adepaul.dev",
                      "title": "adepaul.dev",
                      "repositoryLink": "https://github.com/ajdepaul/adepaul.dev",
                      "imgSrc": "/img/portfolio-website/animated-thumbnail.gif",
                      "imgAlt": "Website intro animation screenshot",
                      "publicationDate": "2023-04-10",
                      "publicationDateHideDay": false,
                      "completionDate": "2023-01-19",
                      "completionDateHideDay": false,
                      "technologies": [
                        "Linux",
                        "Docker",
                        "Photoshop/Affinity Photo",
                        "Gradle",
                        "GitHub Actions",
                        "Spring Boot"
                      ],
                      "languages": [
                        "Java",
                        "HTML",
                        "JavaScript",
                        "CSS"
                      ],
                      "summary": "adepaul.dev is my personal showcase website containing detailed write-ups of projects, along with educational background and contact information."
                    }
                </code></pre>

                <h2 id="browsing-articles">Browsing Write-Ups</h2>

                <p>
                    The <a href="/projects">projects page</a> uses a filter tool to make navigating the available
                    articles easier. By clicking on one of the listed technology or language buttons, that button
                    changes mode to either "ignore" (gray), "require" (blue), or "exclude" (red). When a button's state
                    changes, the article list updates by filtering the available projects that satisfy the selected
                    required and excluded technologies and languages. Additionally, a search field is provided that
                    filters the list of articles to only list the projects containing the search text.
                </p>

                <p>
                    The "projects" Spring controller is configured to load the projects' technology and language lists
                    from their corresponding JSON files. That data is then passed to the "projects" model for the
                    Thymeleaf template to handle.
                </p>

                <pre class="medium"><code>
                    @GetMapping
                    public String projects(Model model) throws IOException {
                        final var projects = projectsService.getAllProjectDetails().stream()
                                .sorted((p1, p2) -> p2.getPublicationDate().compareTo(p1.getPublicationDate())) // reversed order
                                .toList();

                        model.addAttribute("projects", projects);

                        final var technologies = new HashSet&lt;String&gt;();
                        projects.forEach(proj -> technologies.addAll(proj.getTechnologies()));
                        model.addAttribute("technologies", technologies.stream().sorted().toList());

                        final var languages = new HashSet&lt;String&gt;();
                        projects.forEach(proj -> languages.addAll(proj.getLanguages()));
                        model.addAttribute("languages", languages.stream().sorted().toList());

                        return "projects";
                    }
                </code></pre>

                <p>
                    The "projects" Thymeleaf template creates a project element for each project using the data that was
                    passed to the model. The technology and language list is provided as a data attribute for each
                    project element.
                </p>

                <pre class="medium"><code>
                    &lt;div id="projects" class="section"&gt;
                        &lt;div class="content"&gt;
                            &lt;div class="project-container" th:each="project: ${projects}" th:data-technologies="${project.technologiesStr}" th:data-languages="${project.languagesStr}"&gt;
                                &lt;div class="project"&gt;
                                    &lt;h4 class="project-title" th:text="${project.title}" /&gt;
                                    &lt;div class="project-content"&gt;
                                        &lt;div class="columns"&gt;
                                            &lt;div class="proj-img col"&gt;
                                                &lt;img th:src="${project.imgSrc}" th:alt="${project.imgAlt}" loading="lazy"&gt;
                                            &lt;/div&gt;
                                            &lt;div class="proj-text col"&gt;
                                                &lt;div class="publication-date" th:text="'Article Published: ' + ${project.publicationDateStr}"/&gt;
                                                &lt;div class="completion-date" th:text="'Project Completed: ' + ${project.completionDateStr}" /&gt;
                                                &lt;p th:text="${project.summary}" /&gt;
                                                &lt;a th:href="${project.articleLink}" class="btn"&gt;More&lt;/a&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                </code></pre>

                <p>
                    Then, the sorting takes place on client-side JavaScript. First, the data for each project is loaded:
                </p>

                <pre class="medium"><code>
                    const projects = Array.from(document.querySelectorAll('#projects .project-container'))
                        .map(elem => {
                            return {
                                "title": elem.querySelector('h4').innerText,
                                "technologies": elem.dataset.technologies.split(','),
                                "languages": elem.dataset.languages.split(','),
                                "elem": elem
                            }
                        })
                </code></pre>

                <p>
                    Finally, whenever the inputs are updated, the projects are filtered according to the provided inputs.
                </p>

                <pre class="medium"><code>
                    function filterProjects() {

                        projects.forEach(proj => {

                            proj.elem.classList.remove('disabled')

                            // technologies filter
                            technologyButtons.forEach(button => {
                                const buttonText = button.innerText
                                if (button.classList.contains('require') && !proj.technologies.includes(buttonText)) {
                                    proj.elem.classList.add('disabled')
                                } else if (button.classList.contains('exclude') && proj.technologies.includes(buttonText)) {
                                    proj.elem.classList.add('disabled')
                                }
                            })

                            // languages filter
                            languageButtons.forEach(button => {
                                const buttonText = button.innerText
                                if (button.classList.contains('require') && !proj.languages.includes(buttonText)) {
                                    proj.elem.classList.add('disabled')
                                } else if (button.classList.contains('exclude') && proj.languages.includes(buttonText)) {
                                    proj.elem.classList.add('disabled')
                                }
                            })

                            // search filter
                            if (!proj.title.toLowerCase().includes(searchInput.value.toLowerCase())) {
                                proj.elem.classList.add('disabled')
                            }
                        })
                    }
                </code></pre>

                <h2 id="hosting">Hosting</h2>

                <p>
                    The full hosting and continuous deployment solution consists of:
                </p>

                <ol>
                    <li>GitHub Action pushes Docker image to Docker Hub</li>
                    <li>Watchtower Docker instance updates website container when Docker Hub receives an update</li>
                    <li>Cloudflare Tunnel serves website from Cloudflare's CDN servers</li>
                </ol>

                <h3 id="hardware">Hardware</h3>

                <p>
                    The server hardware uses a
                    <a href="https://www.parkytowers.me.uk/thin/wyse/d/d10d/">Dell Wyse 5010 Thin Client</a>. Originally
                    meant to be used as inexpensive virtual desktop systems for office settings, these little computers
                    are great for hosting lightweight servers from home.
                </p>

                <p>
                    To prepare the mini computer for hosting servers, a few modifications to the device had to be made.
                    The Dell Thin Client come with only a couple gigabytes of flash storage as they are not designed to
                    be self-sufficient personal computers. As these devices do not come with any SATA expansion ports,
                    a cheap spare 120GB 2.5" SSD was plugged into a rear USB port with an adapter cable. With the
                    additional storage installed, a lightweight Ubuntu Server distribution was installed which can be
                    accessed remotely through SSH.
                </p>

                <h3 id="github-actions">GitHub Actions</h3>

                <p>
                    <a href="https://github.com/features/actions">GitHub Actions</a> is a CI/CD feature offered by
                    GitHub that allows automated workflows to be executed on GitHub-hosted or self-hosted runners.
                    Automated workflows are defined in YAML files within GitHub repositories' <code>.github</code>
                    directory.
                </p>

                <p>
                    In this case, on every master branch commit,
                    <a href="https://github.com/ajdepaul/adepaul.dev/blob/master/.github/workflows/ci.yml">
                        a workflow to update the website</a> is run. The configuration file specifies the following
                    steps take place:
                </p>

                <ol>
                    <li>Begin with an Ubuntu image</li>
                    <li>Checkout the master branch latest commit</li>
                    <li>Install the JDK dependency</li>
                    <li>Build the project using <a href="https://gradle.org/">Gradle</a></li>
                    <li>Build the compiled app into a Docker image using the repository's <code>Dockerfile</code></li>
                    <li>Login to Docker Hub</li>
                    <li>Push the Docker image to Docker Hub</li>
                </ol>

                <h3 id="docker">Docker</h3>

                <p>
                    <a href="https://www.docker.com/">Docker</a> is software platform that allows applications to run in
                    lightweight isolated containers. Containers can only access what is inside them so each container
                    needs to be configured with the dependencies required for its application. For this project, the
                    configuration is simple and only requires Alpine, a lightweight version of Linux, with Java
                    installed.
                </p>

                <p>
                    The Dell Wyse 5010 Thin Client runs an installation of Docker and runs the website application at
                    all times. While containers have restricted access to only what is inside the container, they can be
                    configured to have open ports to communicate through. In this case, the container exposes port 8080
                    so that the website can be accessed.
                </p>

                <p>
                    To keep the running Docker container up-to-date with the latest Docker Hub image,
                    a separate Docker container <a href="https://containrrr.dev/watchtower/">Watchtower</a> checks the
                    Docker Hub image once every hour for updates. Once a new image is found for the website, it restarts
                    the website container with the new image.
                </p>

                <h3 id="cloudflare-tunnel">Cloudflare Tunnel</h3>

                <p>
                    While the server is hosted from a Docker container, it is accessible publicly through a free
                    <a href="https://www.cloudflare.com/products/tunnel/">Cloudflare Tunnel</a>. Instead of opening a
                    port on the network, Cloudflare tunnels run a daemon on the server that connects to a server on the
                    machine and a Cloudflare server. Whenever someone tries to access the website, they connect to
                    Cloudflare's servers. Cloudflare's servers then connects to the machine through the tunnel to
                    determine what content needs to be served. This is the configuration file used to connect the
                    Cloudflare tunnel to the locally hosted server.
                </p>

                <pre class="medium"><code>
                    tunnel: &lt;TUNNEL ID&gt;
                    credentials-file: &lt;CREDENTIALS FILE&gt;

                    ingress:
                      - hostname: adepaul.dev
                        service: http://localhost:8080
                      - hostname: www.adepaul.dev
                        service: http://localhost:8080

                      # other services

                      - service: http_status:404
                </code></pre>

                <p>
                    These tunnels not only are convenient to set up and add additional layer of security, but they also
                    can improve website performance. Tunnel's can be configured to cache content on Cloudflare's
                    servers. Instead of directing all traffic to the origin server, the slow Dell Thin Client, caching
                    content on Cloudflare's servers improves loading times and creates less work for the origin server.
                </p>

                <p>
                    Aggressive caching is not always the best method for every scenario. For websites serving content
                    that changes frequently, such as social media websites, content cannot be cached as the content
                    retrieved for each visit usually changes. In this case, because the website primarily hosts static
                    content, the tunnel is configured to aggressively cache all content to maximize its benefits. The
                    downside that comes with this configuration is that, when updating the content, either the cache has
                    to be purged manually or it may take some time for the cached content to expire.
                </p>

                <h2 id="design">Design</h2>

                <p>
                    Site Boot Up Animation
                    The animation was made entirely in CSS and JavaScript.
                </p>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer" />

    <script src="/script/common.js"></script>
</body>
</html>
