body {
    background-color: var(--black);
}

/* ---------------------------------- title --------------------------------- */

#title {
    background-image: url("/img/stripe-pattern.png");
}

#title .content {
    margin: 75px 0;
}

#title h1 {
    color: var(--primary-color);
    text-align: center;
}

@media (max-width: 370px) {
    #title h1 {
        font-size: 3.157rem;
    }
}

/* --------------------------------- details -------------------------------- */

#details {
    background-color: var(--gray-1);
    padding: 30px 0;
    line-height: calc(1rem * 2);
}

#details .content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#details .content > div:last-of-type {
    text-align: end;
}

#details a {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    line-height: 1rem;
    transition: transform ease 0.4s;
}

#details a:hover {
    border-bottom-color: var(--primary-color);
}

#details a:hover {
    transform: translateX(20px);
}

@media (max-width: 650px) {
    #details .content {
        flex-direction: column;
    }

    #details .content > div:last-of-type {
        text-align: start;
    }
}

@media (max-width: 370px) {
    #details {
        font-size: 0.75rem;
        line-height: calc(0.75rem * 2);
    }
}

/* --------------------------------- article -------------------------------- */

#article {
    background-color: var(--black);
    margin: 50px 0;
}

#article .project-content {
    padding: 50px;
    padding-bottom: 25px;
}

/* in between column spacing */
#article .project-content .col:not(:first-child) { margin-left: 10px; }
#article .project-content .col:not(:last-child) { margin-right: 10px; }

@media (max-width: 960px) {
    #article .project-content {
        padding: 25px;
        padding-bottom: 0;
    }
}

@media (max-width: 1100px) {
    #article .project-content .columns.extra-large {
        flex-direction: column;
    }

    #article .project-content .columns.extra-large > .col:not(:first-child) { margin-left: 0; }
    #article .project-content .columns.extra-large > .col:not(:last-child) { margin-right: 0; }

    #article .project-content .columns.extra-large > .col {
        flex-basis: auto;
    }

    #article .project-content .columns.extra-large > .col:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {
    #article .project-content .columns.large {
        flex-direction: column;
    }

    #article .project-content .columns.large > .col:not(:first-child) { margin-left: 0; }
    #article .project-content .columns.large > .col:not(:last-child) { margin-right: 0; }

    #article .project-content .columns.large > .col {
        flex-basis: auto;
    }

    #article .project-content .columns.large > .col:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    #article .project-content .columns.medium {
        flex-direction: column;
    }

    #article .project-content .columns.medium > .col:not(:first-child) { margin-left: 0; }
    #article .project-content .columns.medium > .col:not(:last-child) { margin-right: 0; }

    #article .project-content .columns.medium > .col {
        flex-basis: auto;
    }

    #article .project-content .columns.medium > .col:not(:last-child) {
        margin-bottom: 20px;
        flex-basis: auto;
    }
}

@media (max-width: 600px) {
    #article .project-content .columns.small {
        flex-direction: column;
    }

    #article .project-content .columns.small > .col:not(:first-child) { margin-left: 0; }
    #article .project-content .columns.small > .col:not(:last-child) { margin-right: 0; }

    #article .project-content .columns.small > .col {
        flex-basis: auto;
    }

    #article .project-content .columns.small > .col:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    #article .project-content .columns.extra-small {
        flex-direction: column;
    }

    #article .project-content .columns.extra-small > .col:not(:first-child) { margin-left: 0; }
    #article .project-content .columns.extra-small > .col:not(:last-child) { margin-right: 0; }

    #article .project-content .columns.extra-small > .col {
        flex-basis: auto;
    }

    #article .project-content .columns.extra-small > .col:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* -------- common formatting ------- */

#article .project-content h1,
#article .project-content h2,
#article .project-content h3,
#article .project-content h4,
#article .project-content h5,
#article .project-content h6 {
    color: var(--primary-color);
    font-weight: 600;
    width: 100%;
    border-bottom: 3px solid var(--primary-color);
    margin-top: 15px;
}

#article .project-content b {
    font-weight: 600;
}

#article .project-content blockquote {
    padding: 5px 5px 5px 25px;
    background-color: var(--transp-black);
    border-left: 3px solid var(--black);
    border-radius: 0 5px 5px 0;
}

#article .project-content blockquote:before {
    content: "> ";
}

#article .project-content hr {
    width: 100%;
}

#article .project-content li > ul,
#article .project-content li > ol {
    margin-left: 20px;
}

#article .project-content ul > li:before {
    content: "- ";
}

#article .project-content ul > li:not(:first-child) {
    margin-top: 10px;
}

#article .project-content ol > li {
    list-style: decimal;
    list-style-position: inside;
}

#article .project-content code {
    padding: 0 5px;
    border-radius: 5px;
    background-color: var(--transp-black);
}

#article .project-content .nowrap {
    white-space: nowrap;
}

#article .project-content pre {
    width: 100%;
    padding: 10px;
    background-color: var(--gray-3);
    color: var(--light-gray);
    border: 3px solid var(--black);
    box-shadow: 10px 10px 0 0 var(--transp-black);
    border-radius: 5px;
    overflow: auto;
}

#article .project-content pre.small {
    max-height: calc(1rem * 1.5 * 11);
}

#article .project-content pre.medium {
    max-height: calc(1rem * 1.5 * 16);
}

#article .project-content pre.large {
    max-height: calc(1rem * 1.5 * 24);
}

#article .project-content pre.extra-large {
    max-height: calc(1rem * 1.5 * 35);
}

#article .project-content a.pre-src {
    width: 100%;
    padding-left: 5px;
    padding-top: 2px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--black);
    border: 3px solid var(--black);
    box-shadow: 10px 10px 0 0 var(--transp-black);
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
}

#article .project-content a.pre-src:hover {
    color: var(--primary-color);
}

#article .project-content a.pre-src + pre {
    border-radius: 0 0px 5px 5px !important;
    border-top: 0 !important;
}

/* * note: img class sizes don't work when img is also a col */
#article .project-content img.small:not(.col) {
    max-height: 264px;
    width: auto;
}

/* * note: img class sizes don't work when img is also a col */
#article .project-content img.medium:not(.col) {
    max-height: 381px;
    width: auto;
}

/* * note: img class sizes don't work when img is also a col */
#article .project-content img.large:not(.col) {
    max-height: 499px;
    width: auto;
}

/* * note: img class sizes don't work when img is also a col */
#article .project-content img.extra-large:not(.col) {
    /* based on 16:9 image */
    max-height: 616px;
    width: auto;
}

#article .project-content .fill-width {
    width: 100%;
}

/* --------------------------------- footer --------------------------------- */

footer {
    background-color: var(--gray-1);
}
