<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/v4-shims.min.css" integrity="sha512-juNw36A2S+8vPLyCQCBmfxRf1+gFYy07BozcavXe9adyITkvA9LuVCbkZI9kp59tjUrn/S7zeDFN1Brz1JqJnA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/contact.css">
    <title>adepaul.dev - Contact & Profiles</title>
</head>
<body>
    <header th:replace="fragments :: header" />

    <div id="title" class="section">
        <div class="content columns">
            <h1 class="col">Contact</h1>
            <h1 class="col">Profiles</h1>
        </div>
    </div>

    <div id="links" class="section">
        <div class="content columns">
            <ul class="col">
                <li><a href="mailto:anthony@adepaul.dev"><i class="fa-solid fa-envelope"></i> anthony@adepaul.dev</a></li>
                <li><a href="mailto:ajdepaul@gmail.com"><i class="fa-solid fa-envelope"></i> ajdepaul@gmail.com</a></li>
            </ul>
            <ul class="col">
                <li><a href="https://github.com/ajdepaul" class="icon"><i class="fa fa-github" aria-hidden="true"></i> GitHub 1</a></li>
                <li><a href="https://github.com/antD97" class="icon"><i class="fa fa-github" aria-hidden="true"></i> GitHub 2</a></li>
                <li><a href="https://www.linkedin.com/in/anthony-depaul-05a586193/" class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
            </ul>
        </div>
    </div>

    <footer th:replace="fragments :: footer" />

    <script src="/script/common.js"></script>
</body>
</html>
